.homepage {
    position: relative;
    width: 100vw;
    height: 97vh;
}

.map-container {
    position: relative;
    width: 100vw;
    height: 97vh;
}

.map {
    width: 94vw;
    height: 100vh;
    top: -3vh;
}

#search {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    resize: none;
}
