.signup_container {
    position: relative;
    top: 3vh;
    width: 50vw;
    margin: 0 auto;
    padding: 2vh;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
}

/* 라벨 스타일 */
.signup_label {
    font-size: 4vh;
    font-weight: bold;
}

/* 폼 스타일 */
.signup_form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

/* 폼 그룹 */
.form_group {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

/* 개별 폼 */
.per_form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* 라벨 스타일 */
form label {
    text-align: left;
    font-size: 2vh;
    margin: 0;
    width: 20%;
}

/* 입력 필드 스타일 */
form input {
    width: 50%;
    height: 3vh;
    font-size: 2.5vh;
    border: 0.2vh solid #ccc;
    border-radius: 0.5vh;
}


/* 제출 버튼 */
.signup_submit {
    width: 10vw;
    height: 5vh;

    font-size: 2vh;
    font-weight: bold;
    color: white;
    background-color: #FFA500;
    border: none;
    border-radius: 0.5vh;

    cursor: pointer;
    transition: background-color 0.2s ease;

    display: block;
    margin: 1vh auto;
    text-align: center;
}

.signup_submit:hover {
    background-color: #E81E24;
}

