.comp_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9vw;
    font-weight: bold;
    cursor: pointer;
}

.comp_button_link {
    text-decoration: none;
    display: inline-flex;
}

.comp_button:hover {
    color: #E81E24;

}

.comp_button:hover span,
.comp_button:hover svg {
    color: inherit;
    font-size: inherit;
}

.icon_link {
    color: #E81E24;
}