#search {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    padding: 1vh 1vh 1vh 1vh;
    border-radius: 0.5vh;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.barIcon {
    width: 3vw;
    height: 4vh;
    border-radius: 0.5vh;
    margin-right: 0.5vh;
    color: #E81E24;
}

.search_text {
    height: 3vh;
    font-size: 2.5vh;
    border: 0.3vh solid #E81E24;
    border-radius: 0.5vh;
}