.toggle_button {
  font-size: 1vw;
  font-weight: normal;
  width: 3vw;
  height: 3vh;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: background-color 0.3s ease;
}

.toggle_button.off {
  background-color: #ff4d4d;
}

.toggle_button.on {
  background-color: #4caf50;
}

.toggle_button:hover {
  font-size: 1vw;
  font-weight: bold;
}
