.admin_data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1vw;
}

.data_info {
    flex: 1;
}

.map_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.admin_data hr {
    width: 40vw;
    height: 0.2vh;
    border: none;
    background-color: #E81E24;
}

.event_container {
    display: flex;
    justify-content: center;
}


.stack_event {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.5vh;

    margin: 0 auto;
    margin-bottom: 3vh;
    padding-bottom: 2vh;
    position: relative;
    top: 1vh;
}


.stack_event span {
    font-size: 3vh;
    font-weight: bold;
}

.event {
    margin: 2vh 0 4vh 0;
}

.event h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}