.admin_manage {
    position: relative;
    z-index: 10;
}

.data_table {
    width: 80vw;
    justify-content: center;
    margin: 0 auto;
}

.table_head {
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    background-color: #cccccc;
}

.table_body tr td {
    padding: 0.5vh;
    border: solid 0.1vh gray;
}

.table_body .no {
    font-weight: bold;
    text-align: center;
}

.table_body .image {
    text-align: center;
}

.pagination {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.page_button {
    color: black;
    font-size: 2.5vh;
}

.page_button.active {
    font-weight: bold;
    color: #E81E24;
    font-size: 2.5vh;
}

.page_button:hover {
    font-weight: bold;
    color: #E81E24;
    font-size: 2.5vh;

}